<nav class="navbar navbar-expand-sm navbar-light bg-light mb-4">

        <a class="navbar-brand" href="{{ path('app_home') }}">AppChat</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample03" aria-controls="navbarsExample03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExample03">
            <ul class="navbar-nav mr-auto">
                {% if app.user %}
                <li class="nav-item">
                    <a class="nav-link" href=" {{ path('app_agenda') }}"><i class="fas fa-address-book fa-lg"></i>Agenda</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_annuary') }}"><i class="fas fa-list-alt fa-lg"></i>Annuaire</a>
                </li>
                {% endif %}
            </ul>
            <ul class="navbar-nav ml-auto">
                {% if app.user %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('chat') }}"><i class="fas fa-users"></i>Groupes</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('message') }}"><i class="fas fa-comments fa-lg"></i>Messages</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <i class="fas fa-bell fa-lg"></i>
                        </a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="{{ path('app_profil') }}"><i class="fas fa-user fa-lg"></i>{{ app.user.userName }}</a>
                    </li>
                    <li>
                        <a class="nav-link" href="{{ path('app_logout') }}"><i class="fas fa-sign-out-alt fa-lg"></i> Logout</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_login') }}"><i class="fas fa-sign-in-alt fa-lg"></i>Login</a>
                    </li>
                {% endif %}
            </ul>
        </div>

</nav>