<!--Nisrine-->
<nav class="navbar navbar-expand-sm navbar-light bg-light mb-4">

        <a class="navbar-brand" href="{{ path('app_home') }}">
        <!--img src="{{ asset('assets/images/logo4.png') }}" width="150" height="50" id="img1 alt="Cinque Terre"-->
        <b>TeamChat</b>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample03" aria-controls="navbarsExample03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExample03">
            <ul class="navbar-nav mr-auto">
                {% if app.user %}
                <li class="nav-item">
                    <a class="nav-link" href=" {{ path('app_agenda') }}"><i class="fas fa-address-book fa-lg fn"></i> Agenda</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_annuary') }}"><i class="fas fa-list-alt fa-lg fn"></i> Annuaire</a>
                </li>
                {% endif %}
            </ul>
            <ul class="navbar-nav ml-auto">
                {% if app.user %}
                    <!--li class="nav-item">
                        <a class="nav-link" href="{{ path('chat') }}"><i class="fas fa-users fn"></i> Groupes</a>
                    </li-->

                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('message') }}"><i class="fas fa-comments fa-lg fn"></i> Messages</a>
                    </li>
                    <!--li class="nav-item">
                        <a class="nav-link" href="#">
                            <i class="fas fa-bell fa-lg"></i>
                        </a>
                    </li-->
                    <!--li class="nav-item ">
                        <a class="nav-link" href="{{ path('app_chat_search') }}"><i class="fas fa-user fa-lg fn" ></i>Chat_search</a>
                    </li-->
                    <li class="nav-item ">
                        <a class="nav-link" href="{{ path('app_profil',{id: app.user.id}) }}"><i class="fas fa-user fa-lg fn" ></i>  {{   app.user.userName }}</a>
                    </li>
                    <li>
                        <form role="form" method="POST" action="{{ path ('update_statut') }}">
                            <!--a class="nav-link" href="#"><i class="far fa-eye fa-lg fn" ></i> Statut</a-->
                            <div class="dropdown">
                                <a class="nav-link" href="#" role="button" id="deroulanta" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="far fa-eye fa-lg fn" ></i> Statut </a>
                                <div class="dropdown-menu" aria-labelledby="deroulanta">
                                    <button class="dropdown-item" name="stat" value="1" type="submit">En ligne  <span style="height:8px;width:8px;background-color: #0fb513;border-radius: 50%;display: inline-block;"></button>
                                    <button class="dropdown-item" name="stat" value="2" type="submit">Hors ligne  <span style="height:8px;width:8px;background-color: #bbb;border-radius: 50%;display: inline-block;"></button>
                                    <button class="dropdown-item" name="stat" value="3" type="submit">occupé  <span style="height:8px;width:8px;background-color: darkred;border-radius: 50%;display: inline-block;"></button>
                                </div>
                            </div>
                        </form>
                    </li>
                    <li>
                        <a class="nav-link" href="{{ path('app_logout') }}"><i class="fas fa-sign-out-alt fa-lg fn"></i> Deconnexion</a>
                    </li>
                    <!--li>
                        <a class="nav-link" href="{{ path('agenda') }}"><i class="fas fa-sign-out-alt fa-lg fn"></i> select</a>
                    </li-->
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_login') }}"><i class="fas fa-sign-in-alt fa-lg fn"></i>  Se connecter</a>
                    </li>
                {% endif %}
            </ul>
        </div>

</nav>